[flysight-manager]

storage_backend="dropbox"

[dropbox]
token="TOKEN_GOES_HERE"

[vimeo]
enabled = true
token="TOKEN_GOES_HERE"

[youtube]
enabled = true

access_token = "TOKEN_GOES_HERE"
client_id = "TOKEN_GOES_HERE"
client_secret = "TOKEN_GOES_HERE"
refresh_token = "TOKEN_GOES_HERE"
token_uri = "https://accounts.google.com/o/oauth2/token"

[flysight]
enabled = true
mountpoint = "/mnt/flysight"
uuid = "false"

[gopro]
enabled = true

[gopro.video]
mountpoint="/mnt/gopro"
uuid = "false"

[gswoop]
enabled = true
binary = "/Applications/gSwoop.app/Contents/MacOS/gswoop"

[sendgrid]
enabled = true
token = "TOKEN_GOES_HERE"

from = "richo@psych0tik.net"
to = "richo@example.org"
subject = "flysight upload report"

[pushover]
enabled = true
token = "TOKEN_GOES_HERE"
user = "USER_TOKEN_GOES_HERE"
