[flysight-manager]

storage_backend="dropbox"

[dropbox]
token="TOKEN_GOES_HERE"

[vimeo]
token="TOKEN_GOES_HERE"
enabled = "false"

[youtube]
access_token = "TOKEN_GOES_HERE"
client_id = "TOKEN_GOES_HERE"
client_secret = "TOKEN_GOES_HERE"
refresh_token = "TOKEN_GOES_HERE"
token_uri = "https://accounts.google.com/o/oauth2/token"
enabled = "true"

[flysight]
enabled = "true"
mountpoint = "/mnt/flysight"
uuid = "false"

[gopro]
enabled = "true"

[gopro.video]
mountpoint="/mnt/gopro"
uuid = "false"

[gswoop]
enabled = "false"
binary = "/Applications/gSwoop.app/Contents/MacOS/gswoop"
