[flysight-manager]

storage_backend=dropbox

[dropbox]
token=TOKEN_GOES_HERE

[flysight]
enabled = True
mountpoint = /mnt/flysight
uuid = False

[gopro]
enabled = True
mountpoint=/mnt/gopro
uuid = False

[gswoop]
enabled = False
binary = /Applications/gSwoop.app/Contents/MacOS/gswoop
