<!doctype html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <title>flysight-manager</title>
    </head>
    <body>
        <p>
        This wizard can help you generate a config file for the flysight-manager tool.
        </p>

        <p>
        The flow will ask you to download <pre>flysight-manager.ini</pre>. Save
        this to wherever you will run <pre>flysight-manager</pre> from. You
        will need to edit this file to set you <pre>mountpoint</pre>
        </p>


        <p>
        click <a href='/dropbox/authorise'>here</a> to connect to your dropbox account.
        </p>
        <p>
        click <a href='/youtube/authorise'>here</a> to connect to your youtube account.
        </p>

        <p>
        flysight-manager will only have access to the app folder it creates (in
        /Apps), not anything else in your Dropbox. This is the folder that the
        files taken off your flysight will go into.
        </p>
    </body>
</html>

